<div id=product-booking-dates' data-unavailable="<%= @product.unavailable_dates.to_json %>">
  <% if current_user.id != @product.user_id  %>
  <%= simple_form_for([@product, @booking]) do |f| %>
  <%= f.input :date, as: :string, required: false, input_html: {class: "datepicker"} %>
  <%= f.input :start_time,as: :string, required: false, input_html: {class: "timepicker"} %>
  <%= f.input :end_time,as: :string, required: false, input_html: {class: "timepicker"} %>

  <%= f.submit 'hacer reserva' %>
  <% end %>
  <% end %>
</div>
