<% if @user == current_user %>
<div class="container">
  <div class="user-show-container">
    <div class="user-show-title d-flex justify-content-between">
      <div>
        <h2>Hi, I'm <%= @user.email %></h2>
        <p><%= @user.created_at.strftime('Joined in %Y') %></p>
        <%= link_to 'Edit profile', '#' %>
      </div>
      <img src="https://static.thenounproject.com/png/363639-200.png" style="height: 100px; width: 100px;"alt="">
    </div>
    <div class="user-show-content">
      <%= link_to 'Reviews by you', '#' %>
    </div>
    <div class="user-show-content">
      <%= link_to 'My Bookings', bookings_path %>
    </div>
    <div class="user-show-content">
      <%= link_to 'Reviews by you', '#' %>
    </div>
    <div class="user-show-content">
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</div>
<% else %>
chau
<% end %>

