<div class="footer-wrapper pt-5">
  <div class="home-footer fixed-bottom">
    <%= link_to "#" do %>
    <i class="fas fa-car"></i>
    <h3>Explore</h3>
    <% end %>
    <%= link_to '#' do%>
    <i class="far fa-heart"></i>
    <p>Places</p>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to "#" do %>
    <i class="far fa-comment-alt"></i>
    <p>Inbox</p>
    <% end %>
    <%= link_to bookings_path do %>
    <i class="far fa-calendar"></i>
    <p>Bookings</p>
    <% end %>
    <%= link_to user_path(current_user) do %>
    <i class="fas fa-user"></i>
    <p>Profile</p>
    <% end %>
    <% else %>
    <%= link_to new_user_session_path do %>
    <i class="fas fa-user"></i>
    <p>Log in</p>
    <% end %>
    <% end %>
  </div>
</div>
