<%= render 'shared/mobile_navbar' %>
<div class="mobile-post-show">
 <%= render 'shared/carousel' %>
</div>
<div class="desktop-post-show">
  <%= render 'shared/grid' %>
</div>
<div class="product-show-wrapper">
  <div class="product-show-container">
    <div class="product-show-title">
      <div>
        <h2><%= @product.title %></h2>
        <h3><%= @product.category.title %></h3>
        <p><%= @product.description %></p>
      </div>
      <div class="product-show-avatar text-center">
        <img src="https://static.thenounproject.com/png/363639-200.png" style="height: 60px; width: 60px;"alt="">
        <p><%= @product.user.email %></p>
      </div>
    </div>
    <div class="product-show-content">
      <div class="d-flex">
        <img src="https://cdn0.iconfinder.com/data/icons/jumpicon-energy-glyph/32/-_Gas-Station-Petrol-Fuel-Oil-Pump-512.png" alt="" style="width: 20px; height: 20px; margin-right: 5px;">
        <p>50 litros</p>
      </div>
      <div class="d-flex">
        <img src="https://cdn1.iconfinder.com/data/icons/car-engine-dashboard-lights-solid-style-set-2/91/Car_Engine_-_Dashboard_Lights_68-512.png" alt="" style="width: 20px; height: 20px; margin-right: 5px;">
        <p>1000 Horse Power</p>
      </div>
      <div class="d-flex">
        <img src="https://static.thenounproject.com/png/651834-200.png" alt="" style="width: 20px; height: 20px; margin-right: 5px;">
        <p>Automatic</p>
      </div>
    </div>
    <div class="reviews mt-3">
      <h2>REVIEWS</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione animi voluptates sequi vero ducimus porro sunt nostrum, quas molestias rerum natus! Quo quia rerum officia, consequatur explicabo animi suscipit harum!
      </p>
    </div>
  </div>
  <section id="bookings">
    <div class="product-show-booking">
      <%= render 'bookings/new' %>
    </div>
  </section>
</div>
<%= render 'shared/footer-show' %>
