<%= render 'shared/mobile_navbar' %>
<%= @product.title %>
<%= @product.description %>

<% if @product.user == current_user %>
<% @product.bookings.each do |booking| %>
<%= booking.start_date  %>
<% end %>
<% else %>
<%= render 'bookings/new' %>
<% end %>
<div class="product-show-images-mobile">

</div>

<div class="product-show-images">
  <div class="product-show-images-2">
    <img src="https://images.clarin.com/2019/05/29/ferrari-sf90-stradale___O72Uz8wep_1256x620__1.jpg" alt="">
  </div>
  <div class="product-show-images-grid">
    <img src="https://images.clarin.com/2019/05/08/ferrari-sf90-stradale___rd70pj7qk_720x0__1.jpg" alt="">
    <img src="https://images.clarin.com/2019/05/08/ferrari-sf90-stradale___7pk8wcUw-_720x0__1.jpg" alt="">
    <img src="https://images.clarin.com/2019/05/08/ferrari-sf90-stradale___jPuqPW8Gy_720x0__1.jpg" alt="">
    <img src="https://images.clarin.com/2019/05/08/ferrari-sf90-stradale___jPuqPW8Gy_720x0__1.jpg" alt="">
  </div>


</div>
<div class="container">
  <div class="product-show-content">

  </div>
</div>

